name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      # This is needed to be able to run ./gradlew below
      # You can run `git update-index --chmod +x gradlew` then remove this step.
      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Get Version
        id: get_version
        run: |
          VERSION=$(grep "mod_version=" gradle.properties | cut -d'=' -f2)
          MOD_ID=$(grep "mod_id=" gradle.properties | cut -d'=' -f2)
          echo "MOD_VERSION=$VERSION" >> $GITHUB_ENV
          echo "MOD_ID=$MOD_ID" >> $GITHUB_ENV

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mgmc-builds
          path: |
            fabric/build/libs/${{ env.MOD_ID }}-fabric-${{ env.MOD_VERSION }}.jar
            neoforge/build/libs/${{ env.MOD_ID }}-neoforge-${{ env.MOD_VERSION }}.jar